{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Announcements
{% endblock title %}

{% block content %}
    <h1> Объявления в текущей категории: {{ category }}: {{ announcements|length }} </h1>
    {#<em>{% current_time %}</em>#}
        {% if is_not_subscriber %}
            <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sn">Подписаться</a> </p>
        {% endif %}
    <hr>
    {% if category_announcements_list %}
        <table>
            <tr>
                <td> Заголовок </td>
                <td> Категория </td>
                <td> Дата публикации </td>
                <td> Содержание </td>
                <td> Автор </td>
            </tr>
            {% for announcement in category_announcements_list %}
            <tr>
                <td> {{ announcement.announcement_title }} </td>
                <td>
                    {% for category in announcement.category.all %}
                        <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                    {% endfor %}
                </td>
                <td> {{ announcement.announcement_date_time|date:'d M Y l' }} </td>
                <td> {{ announcement.announcement_text|truncatewords:20|censor }} </td>
                <td> {{ announcement.author }} </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2> Объявлений в категории {{ category }} на сегодня нет </h2>
    {% endif %}
    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}
    {{ page_obj.number }}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}
