{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Search_announcements
{% endblock title %}

{% block content %}
    <h1> Поиск объявлений : {{ search_announcements|length }} </h1>
    <hr>
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form>
    <hr>
    {% if search_announcements %}
        <table>
            <tr>
                <td> Заголовок </td>
                <td> Категория </td>
                <td> Дата публикации </td>
                <td> Содержание </td>
                <td> Автор </td>
            </tr>
            {% for announcement in search_announcements %}
            <tr>
                <td>
                    <p class="link-read-post"><a href="{% url 'announcement' announcement.id %}">{{ announcement.announcement_title }}</a></p>
                </td>
                <td>
                    {% for category in announcement.category.all %}
                    <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                    {% endfor %}
                </td>
                <td> {{ announcement.announcement_date_time|date:'d M Y l' }} </td>
                <td> {{ announcement.announcement_text|truncatewords:20|censor }} </td>
                <td> {{ announcement.author }} </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2> Объявлений на сегодня нет </h2>
    {% endif %}
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}
    {{ page_obj.number }}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}
